*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
}
:root{
    --back: #333;
    --white: #fff;
}

.dark{
    --back: #fff; /*AFECTA AL TEXTO, EN MODO OSCURO ES BLANCO Y EN MODO CLARO OSCURO*/
    --white: rgb(0, 0, 0); /*LAS LETRAS BLANCAS SE VUELVEN NEGRAS Y LAS NEGRAS BLANCAS*/
}
body{
    background: #000;
}
header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}

header .logo{
    position: relative;
    display: inline-flex;
    color: var(--back);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.righSide{
    display: flex;
}
.btns{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.btns .menuToggle ion-icon{
    font-size: 3em;
}
.btns ion-icon{
    font-size: 1.5em;
    color: var(--back);
}
.btns ion-icon:nth-child(2){
    display: none;
}
.btns.active ion-icon:nth-child(2){
    display: block;
}
.btns.active ion-icon:nth-child(1){
    display: none;
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}
.main video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dark .mask{
    filter: invert(1);
    mix-blend-mode: multiply;
}

.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
}
.main h2{
    position: absolute;
    z-index: 3;
    font-size: 7vw;
    font-weight: 900;
    color: var(--back);
    text-shadow: 0 7px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}
.navigation{
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    z-index: 4;
    transition: 0.5s;
    border-right: solid 1px var(--back);
}
.navigation.active{
    left: 0;
}
.navigation li{
    list-style: none;
}
.navigation li a{
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.25em;
    text-decoration: none;
    color: var(--back);
    padding: 5px 20px;
    border-radius: 40px;
    letter-spacing: 1px;
}
/* .navigation li a:hover{
    /* background: var(--back); */
    /* color: var(--white); 
} */
.aHover{
    position: relative;
}
.aHover2{
    position: relative;
}
.aHover3{
    position: relative;
}
.aHover4{
    position: relative;
}
.aHover::after{
    content: "";
    position: absolute;
    color: var(--white);
    height: 3px;
    width: 0;
    background-color: #0e8178 ;
    bottom: -10px;
    transition: 0.3s;  
}
.aHover2::after{
    content: "";
    position: absolute;
    color: var(--white);
    height: 3px;
    width: 0;
    background-color: #0e8178 ;
    bottom: -10px;
    transition: 0.3s;
    
}
.aHover3::after{
    content: "";
    position: absolute;
    color: var(--white);
    height: 3px;
    width: 0;
    background-color: #0e8178 ;
    bottom: -10px;
    transition: 0.3s;  
}
.aHover4::after{
    content: "";
    position: absolute;
    color: var(--white);
    height: 3px;
    width: 0;
    background-color: #0e8178 ;
    bottom: -10px;
    transition: 0.3s;  
}
.aHover:hover::after{
    width: 3.2em;
}
.aHover2:hover::after{
    width: 5.3em;
}
.aHover3:hover::after{
    width: 2.7em;
}
.aHover4:hover::after{
    width: 4.5em;
}

.copyrightText{
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--back);
    top: 87%;
}

/*=====================*/
/*=======CARDS=========*/
/*=====================*/
.contain{
    display: flex;
    flex-direction: row;
    background-color: var(--white);
}
.title{
    color: var(--back);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--white);
}
.card{
    position: relative;
    width: 230px;
    height:340px;
    background-color: var(--back);
    margin: 90px auto;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0,2);
    /* border: solid 1px red; */
    /* border-radius: 10px; */
}
.img{
    height: 140px; 
    width: 140px;
    z-index: 2;
}
.img-bici{
    width: 180px;
    height: 140px;
    z-index: 2;
}
.product{
    z-index: 2;
    margin: 10px 0;
    color: var(--white);
    /* text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.84); */
}
.paragraph{
    z-index: 2;
    border: solid 1px var(--white);
    width: 90%;
    font-size: 0.8em;
    display: none;
    position: relative;
    background-color: var(--white);
}
#paragraph:hover .paragraph {
    display:block;
}
p{
    z-index: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--back);
}
 a{
    z-index: 2;
    margin: 3px 0;
    color: var(--white);
    text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.84);
}
.separacion{
    height: 200px;
    width: 100%;
    background-color: var(--white);
}
.separacion-2{
    height: 200px;
    width: 100%;
    padding-top: 100px;
    background-color: var(--white);
}
.card .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: var(--back);
    /* border-radius: 10px; */
    z-index: 2;
}
.card .details::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 150%;
    background-color: var(--back);
    transform: rotate(35deg);
    box-shadow: 0 20px 0 20px #0d8b81;
    transition: 0.5s;
    /* border-radius: 10px; */
    z-index: 1;
}
.card:hover .details::before{
    width: 0;
    box-shadow: 0 255px 0 255px #0e8178;
    transform: rotate(180deg);
    transition: 1s;
}
.card:hover{
    transform: translateY(-3%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0,4);
    transition: 0.5s;
}
.card .details a{
    background-color: var(--white);
    color: var(--back);
    text-decoration: none;
    border: solid 1px var(--back);
    border-radius: 10px;
    padding: 2px 20px;
    margin-top: 10px;
    
}
.card .details a:hover{
    background-color: var(--back);
    color: var(--white);
    border: solid 1px var(--white);
}

.subtitle-2{
    background-color: var(--white);
    color: var(--back);
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 15px;
    width: 20%;
}
.sobreMi{
    height: auto;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.miParrafo{
    width: 80%;
    padding-left: 15px;
}
.miParrafo::first-letter{
    font-weight: 700;
}
.skills-images{
    display: flex;
    justify-content: center;
    padding: 70px 0;
    background-color: var(--white);
}
.skills-images .skill:hover{
    transform: rotate(360deg);
    cursor: pointer;
    transition: 0.5s;
}
#carouselExampleControls{
    margin-top: 200px;
}
.subtitle{
    text-align: center;
    background-color: var(--white);
    color: var(--back);
    text-transform: uppercase;
    font-weight: 700;
    /* padding-bottom: 20px; */
    padding: 70px 0;
}

/*=====================*/
/*      CONTACTO       */
/*=====================*/
.Contacto{
    background-color: var(--white);
    height: 250px;
    /* border: solid 1px red; */
    padding-left: 10px;
}
.Contacto h1{
    color: var(--back);
}

.formulario{
    display: flex;
    flex-direction: column;
    /* border: solid 1px blue; */
    height: 200px;
    padding-left: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}
.form input, .asunto{
    width: 60%;
    color: var(--back);
    font-size: 15px;
}
.form .enviar_btn{
    width: 70px;
    padding: 0;
    color: var(--white);
    background-color: #0e8178 ;
    border-radius: 40px;
    padding: 3px 5px;
    border: transparent;
    box-shadow: 0px 3px 5px black;
}
.form .enviar_btn:hover{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: translateY(5%);
    box-shadow: none;
    transition: 0.5s;
}
.form input, textarea, select{
    background-color: var(--white);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: solid 2px #11998e;
    outline: none;
}
/*=====================*/
/*         CV          */
/*=====================*/
.cv-btn{
    width: 150px;
    color: var(--white);
    background-color: #0e8178 ;
    border-radius: 40px;
    padding: 10px 10px;
    border: transparent;
    text-decoration: none;
    box-shadow: 0px 3px 5px black;
    margin-left: 15px;
}
.cv-btn:hover{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: translateY(5%);
    transition: 0.5s;
    box-shadow: none;
}

/*=====================*/
/*   SECCION GRACIAS   */
/*=====================*/

.main-thx{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}
.parrafo-thx{
    font-family: "consolas", sans-serif;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.568);
}
@media (max-width:514px){
    .parrafo-thx{
        text-align: center;
    }
}
.loader{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #0e8178);
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loader::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: #111;
    border-radius: 50%;
    z-index: 1000;
}
.loader::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #0e8178);
    border-radius: 50%;
    z-index: 1;
    filter: blur(30px);
}


/*=====================*/
/*=====================*/
/*=======MEDIAS========*/
/*=====================*/

@media(max-width: 768px){
    header{
        padding: 20px;
    }
    .copyrightText{
        left: 20px;
        bottom: 30px;
    }
    .sci{
        right: 20px;
        bottom: 20px;
    }
    .contain{
        flex-direction: column;
    }
    .subtitle-2{
        width: 60%;
    }

}
@media(max-width: 315px){
    .contain .card{
        width: 85%;
    }
    .separacion{
        height: 100px;
    }
    .imgSkill{
        width: 20%;
    }
    .habilidades{
        bottom: -10%;
        left: 10%;
    }
    .separacion-2{
        height: 130px;
    }
    .miParrafo{
        font-size: 15px;
        width: 100%;
    }
    .subtitle-2{
        width: 60%;
    }
}
@media (max-width: 915px){
    .contain{
        flex-wrap: wrap;
    }
    .sobreMi{
        width: 100%;
        left: 10%;
    }
    .habilidades{
        bottom: 0%;
        left: 10%;
        width: 80%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width:414px){
    .subtitle-2, .miParrafo{
        padding-left: 19%;
    }
    .cv-btn{
        margin-left: 19%;
    }
}
@media (max-width:360px){
    .subtitle-2, .miParrafo{
        padding-left: 15%;
    }
    .cv-btn{
        margin-left: 15%;
    }
    .skill{
        width: 50px;
        height: 50px;
    }
}
@media (max-width:375px){
    .subtitle-2, .miParrafo{
        padding-left: 17%;
    }
    .cv-btn{
        margin-left: 17%;
    }
    .skill{
        width: 50px;
        height: 50px;
    }
}
@media (max-width:320px){
    .subtitle-2, .miParrafo{
        padding-left: 10%;
    }
    .cv-btn{
        margin-left: 10%;
    }
}
@media (max-width:280px){
    .subtitle-2, .miParrafo{
        padding-left: 15px;
    }
    .cv-btn{
        margin-left: 15px;
    }
}